.main {
  display: flex;
  align-items: center;
  min-height: 600px;
}

.main__texto {
  flex: 1;
}

.main__img {
  flex: 1;
}

.main__imagen {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.main__titulo {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.main__parrafo {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: #B9FF66;
}

.cta {
  display: inline-flex;
  padding: 9px 18px 8px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #BF51FF;
  text-decoration: none;
  color: #263238;
  font-weight: bold;
  margin-top: 1.5rem;
}

.cta:hover {
  background-color: #B9FF66;
  color: black;
}

.galeria__titulo {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  text-align: center;
}

.galeria__imagenes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  border-radius: 50px;
  padding-bottom: 3rem;
}

.galeria__imagen {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.galeria__img {
  text-align: center;
}

.galeria__caption {
  font-size: 1.2rem;
  color: #263238;
  margin-top: 0.5rem;
}


.galeria__imagen:hover {
  border: 3px solid #BF51FF;
  border-radius: 30px;
}