.pelicula__detalles {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 80vh;
    padding-top: 5rem;
}

.pelicula__imagen {
    flex: 1;
    margin-right: 2rem;
}

.pelicula__img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.pelicula__info {
    flex: 2;
    padding-top: 5rem;
}

.pelicula__info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pelicula__info p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;


}
.pelicula__detalles-titulo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: nowrap; 

    p{
        background-color: #BF51FF;
        padding: 0.5rem 1.5rem;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
    p:hover{
        background-color: #a3e655;
    }
}


.pelicula_botones{
    padding-top: 1.5rem;
}


